<form [formGroup]="fg" (submit)="onSubmit($event)">
<div id="tags">
  <label>
    Player 1 Tag:
    <input id="p1tag" type="text" formControlName="name1FC">
  </label>
  <label>
    Player 2 Tag:
    <input id="p2tag" type="text" formControlName="name2FC">
  </label>
</div>
<div id="char-select">
  <label>
    Player 1 Fighter:
    <select id="p1fighter" formControlName="fighter1">
      <option *ngFor="let character of characters" value={{character}}>{{character}}</option>
    </select>
  </label>
  <label>
    Player 2 Fighter:
    <select id="p2fighter" formControlName="fighter2">
      <option *ngFor="let character of characters" value={{character}}>{{character}}</option>
    </select>
  </label>
</div>
  <input type="submit">
<br/>
</form>
<p id="p1nameUpdate"></p>
<p id="p2nameUpdate"></p>
<canvas id="thumbnailPreview" width="1280" height="720"></canvas>
